h1 {text-align: center;
    background-color: #c696d2;
    width: 25%}
/*#title{margin-left: auto; margin-right: auto;}*//*this code is not working the way I want it to. I want h1 and the color to be centered on the page*/
h2 {text-align: center;}
body {background-color: #343434;
/*establish some sort of background image that is subtle and fits well background-image: url(____)*/}
.background {
    /*background-image: url("file:///C:/Users/Jordyn/Downloads/WIIT_background.gif");  Figure out how to properly embed a gif as the bakcground of the website*/
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.links{background-color:#494949;
text-align: left;}
.linktree a {color: #4995ed;}
.linktree a:visited {color: #c696d2;}
.linktree a:hover {color: whitesmoke;}
.linktree a:active {color: #494949}

/*#homepage {background-color: #344565;}*/
/*add a light/dark mode toggle to the website later*/
